<!DOCTYPE html> 
<html> 
 
 <head> 
  <title>{{ page.title }}</title> 
  
  <!-- link to main stylesheet --> 
  <link rel="stylesheet" type="text/css" href="/css/main.css"> 
  
  <!--RSS FEED LINK-->
  <link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="/feed.xml">
 </head> 
 
 <body> 
  <nav> 
   <ul> 
    <li><a href="/">Home</a></li> 
    <li><a href="/blog">Blog</a></li> 
    <li><a href="/blog">About</a></li> 
   </ul> 
  </nav> 
  <div class="container"> 
   
  {{ content }} 
   
  </div> 
  <footer> 
   <ul> 
    <li><a href="https://github.com/jonathanjthomas">github.com/jonathanjthomas</a></li> 
   <li><a href="https://jonathanjthomas.github.io"> jonathanjthomas.github.io </a></li> 
   </ul> 
  </footer> 
 </body> 
</html> 
